<div class="page-two">
    <div class="container py-5">
        <div class="text-center w-100 about my-5">
            <h3>we are here to <span>elevate your business</span> to the ultimate level of growth</h3>
            <p>At Msader we provide all kind of HR services, we are responsible for all things workforce and
                talent-related
            </p>
        </div>
        <div class="d-flex align-items-center w-100 my-5 cards">
            <div class="d-flex align-items-center w-50 about-card">
                <img src="../../../assets/images/Icon feather-target.svg" alt="">
                <div class="ms-3">
                    <h6>our mission</h6>
                    <p>We aim to always fulfil our customers expectations and needs by providing them with a world-class
                        HR service.
                    </p>
                </div>
            </div>
            <div class="d-flex align-items-center w-50 about-card">
                <img src="../../../assets/images/Icon feather-eye.svg" alt="">
                <div class="ms-3">
                    <h6>our vision</h6>
                    <p>we are hard at work in the aim to become theleading HR network in KSA.
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between end-about">
            <img src="../../../assets/images/Group 56.svg" alt="">
            <button class="button">about us</button>
        </div>
    </div>
</div>