<app-last-page></app-last-page>
<footer class="footer pt-5 pb-5 text-white-50 text-md-start text-center mb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-md-5">
                <h6 class="text-light">MSADER</h6>
                <ul class="list-unstyled lh-lg">
                    <li>about us</li>
                    <li>Our Services</li>
                    <li>why us</li>
                    <li>contact us</li>
                    <li class="demo">request a demo</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h6 class="text-light">FOLLOW US</h6>
                <ul class="list-unstyled lh-lg">
                    <li>facebook</li>
                    <li>instagram</li>
                    <li>youtube</li>
                    <li>linkedin</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12">
                <h6 class="text-light">OUR NEWSLETTER</h6>
                <p class="pe-lg-5 pe-md-5">If you want to know more and stay up to date ,subscribe by verifying your email
                    here.</p>
                <div class="email">
                    <input type="text" placeholder="EMAIL">
                    <button class="button">subscribe</button>
                </div>
            </div>
        </div>
    </div>
</footer>