
    <main class="row one-content">
        <div class="left w-50 col-lg-6 col-md-6 col-sm-12">
            <img src="../../../assets/images/Group 54.svg" alt="">
            <img src="../../../assets/images/Mask Group 1@2x.png" alt="">
        </div>
        <div class="right w-50 col-lg-6 col-md-6 col-sm-12">
            <h1>you demand <br>quality,we supply growth</h1>
            <p>We are focused on providing the best experience for you</p>
            <div class="d-flex align-items-center justify-content-between">
                <button class="button">learn more</button>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </main>