<div class="page-four px-lg-5 px-md-5">
    <div>
        <div class="row ps-lg-5 me-0">
            <div class="col-lg-6 col-md-6 col-sm-12 my-auto d-flex justify-content-between flex-column why-title">
                <div class="title mb-sm-3">
                    <h1>why us</h1>
                    <p>They say choose wisely. that's why we are here to be chosen</p>
                </div>
                <div class="d-flex mb-sm-3 mb-xsm-5 circles">
                    <div class="circle me-3 yellow"></div>
                    <div class="circle yellow"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex pe-lg-5 why">
                <div class="four-image d-flex w-100">
                    <img src="../../../assets/images/Scroll Group 5.png" alt="">
                    <img src="../../../assets/images/Scroll Group 5.png" alt="">
                </div>
                <i class='bx bx-chevron-right'></i>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between end-about ps-5">
            <img src="../../../assets/images/Group 56.svg" alt="" class="w-50">
            <button class="button">learn more</button>
        </div>
    </div>
</div>