:root {
    --black: #000000;
    --light-black: #242020;
    --white: #FFFFFF;
    --gray: #C9D3D2;
    --light-gray: #D8E3E2;
    --veryLight-gray: #EFEFEF;
    --dark-gray: #707070;
    --medium-gray: #9A9A9A;
    --main-color: #2F8E81;
    --second-color: #19554B;
    --yellow: #FFBC05;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.button {
    background-color: var(--second-color);
    color: var(--veryLight-gray);
    border: 0;
    text-transform: uppercase;
    border-radius: 34px;
    font-size: 0.8rem;
    width: 120px;
    height: 40px;
    padding: 7px;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.05);
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--white);
}

.circle.yellow {
    background-color: var(--yellow);
}

.title h1 {
    color: var(--main-color);
    font-weight: 900;
    margin-bottom: 0;
    text-transform: uppercase;
}

.title p {
    font-size: 1rem;
    width: 60%;
}

::-webkit-scrollbar {
    width: 0;
}

.end-about {
    margin-top: 50px;
    width: 61%;
}

.end-about img {
    width: 65%;
}

.bx-arrow-back {
    position: absolute;
    top: 16%;
    left: 7%;
    font-size: 1.5rem;
    z-index: 10;
    color: var(--yellow);
    cursor: pointer;
}

@media (max-width:767px) {
    .button {
        font-size: 0.7rem;
        width: 100px;
        height: 30px;
        padding: 5px;
    }
}

@media (max-width:575px) {
    .button {
        font-size: 0.5rem;
        width: 100px;
        height: 25px;
        padding: 3px;
    }
}


.read {
    color: var(--main-color);
    background-color: transparent;
    border: 0;
    font-weight: bolder;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.read i {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
}

@media (max-width:575px) {
    .bx-arrow-back {
        top: 13%;
        left: 3%;
    }
}